.pdf-hidden {
    position: fixed;
    top: -9999px;
    left: -9999px;
    width: 800px;
    /* importante para que renderice bien */
}

.loading-overlay {
  position: fixed;   
  inset: 0;          
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); 
  backdrop-filter: blur(2px);          
  z-index: 9999;
}