<div class="loading-overlay" *ngIf="isLoading$ | async">
    <app-loading-dancing-squares [size]="22" [gap]="8"></app-loading-dancing-squares>
</div>

<div class="form-container">

    <div class="row">
        <div class="col-md-6">
            <h6 class="h6-header">{{indMovilidad=='S' ? 'Planilla de Movilidad' : 'Rendir Cuenta '}} de Orden -
                {{orden.numOrden}}</h6>
        </div>
    </div>

    <div class="bar-buttons-top d-flex justify-content-between align-items-end flex-wrap">

        <div class="d-flex gap-2">

            <div>
                <label class="form-label fw-semibold mb-2 d-block">Saldo Soles</label>
                <input style="width:180px" type="text" name="saldoSoles" id="saldoSoles"
                    class="general-input form-control text-end" [(ngModel)]="saldoSoles" currencyMask
                    [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2, nullable: true }" />
            </div>

            <div>
                <label class="form-label fw-semibold mb-2 d-block">Saldo Dólares</label>
                <input style="width:180px" readonly type="text" name="saldoDolares" id="saldoDolares"
                    class="general-input form-control text-end" [(ngModel)]="saldoDolares" currencyMask
                    [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2, nullable: true }" />
            </div>

        </div>

        <div class="d-flex align-items-center gap-1 mt-3">

            <label *ngIf="!imageChangedEvent" class="general-button btn-primary btn-capture-image"
                style="height: 32px !important;">
                <i class="fa fa-camera me-1"></i>
                {{isDesktop ? 'Subir' : 'Capturar'}}
                <input type="file" accept="image/*" capture="environment" (change)="onSelectImage($event)" hidden>
            </label>

            <button (click)="onDescartar()" title="Eliminar Imagen" *ngIf="imageChangedEvent"
                class="general-button btn-danger">
                <i class="fa-solid fa-xmark"></i>
                {{isDesktop ? 'Eliminar' : ''}}
            </button>

            <ng-container *ngIf="imageChangedEvent">

                <button *ngIf="showImageCropper" type="button" class="general-button btn-warning btn-sm"
                    (click)="toggleImageCropper()">
                    <i class="fa-solid fa-eye-slash"></i>
                    {{isDesktop ? 'Ocultar' : ''}}
                </button>

                <button *ngIf="!showImageCropper" type="button" class="general-button btn-primary btn-sm"
                    (click)="toggleImageCropper()">
                    <i class="fa-solid fa-image"></i>
                    {{isDesktop ? 'Mostrar' : ''}}
                </button>

                <button type="button" class="general-button btn-success btn-sm" (click)="runOcr()">
                    <i class="fas fa-book-open-reader"></i>
                    {{isDesktop ? 'Copiar' : ''}}
                </button>

            </ng-container>

            <button [disabled]="isSaveDisabled()" (click)="onSaveAuxiliar()" type="button"
                class="general-button btn-primary btn-sm">
                <i class="fas fa-save"></i>
                {{isDesktop ? 'Guardar' : ''}}
            </button>

            <button (click)="onBack()" class="general-button btn-secondary btn-sm">
                <i class="fas fa-arrow-left"></i>
                {{isDesktop ? 'Regresar' : ''}}
            </button>

        </div>

    </div>

    <div class="mb-1" *ngIf="imageChangedEvent && showImageCropper">
        <div class="card">
            <div class="card-body p-1">
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" format="png"
                    (imageCropped)="onImageCropped($event)">
                </image-cropper>
            </div>
        </div>
    </div>

    <div class="row mt-1">
        <h6 class="h6-header">DATOS REALES DEL PROVEEDOR</h6>

        <div class="col-md-2">
            <label class="form-label fw-semibold mb-2 d-block">R.U.C</label>
            <input maxlength="11" (input)="ruccompleto()" class="form-control general-input" name="ruc" id="ruc"
                [(ngModel)]="ruc" />
        </div>

        <div class="col-md-6">
            <label class="form-label fw-semibold mb-2 d-block">Proveedor</label>
            <input readonly class="form-control general-input" name="proveedor" id="proveedor"
                [(ngModel)]="padronRuc.razonSocial" />
        </div>

        <div class="col-md-2">
            <label class="form-label fw-semibold mb-2 d-block">Estado</label>
            <input readonly class="form-control general-input" name="estado" id="estado"
                [(ngModel)]="padronRuc.estado" />
        </div>

        <div class="col-md-2">
            <label class="form-label fw-semibold mb-2 d-block">Condición</label>
            <input readonly class="form-control general-input" name="condicion" id="condicion"
                [(ngModel)]="padronRuc.condicion" />
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <label class="form-label fw-semibold mb-2 d-block">Dirección</label>
            <input class="form-control general-input" name="direccion" id="direccion"
                [(ngModel)]="dataImagen.issuerAddress" />
        </div>
    </div>

    <div class="row">
        <div *ngIf="mensaje" class="col-md-12">
            <span class="mensaje-alerta">{{mensaje}}</span>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <label class="form-label fw-semibold mb-2 d-block">Rubro</label>
            <select [disabled]="indMovilidad=='S'" (change)="changeRubro()" name="rubro" id="rubro"
                class="general-select form-select" [(ngModel)]="ordenPagoDet.codRubro">

                <option *ngFor="let rubro of rubros" [value]="rubro.codRubro">
                    {{rubro.desRubro}}
                </option>

            </select>
        </div>

        <div class="col-md-4">
            <label class="form-label fw-semibold mb-2 d-block">Concepto</label>

            <select (change)="onChangeTipoGasto()" name="concepto" id="concepto" class="general-select form-select"
                [(ngModel)]="ordenPagoDet.codTipoGasto">

                <option *ngFor="let tipoGasto of tiposGasto" [value]="tipoGasto.codTipoGasto">
                    {{tipoGasto.desTipoGasto}}
                </option>

            </select>
        </div>
        <div class="col-md-2">
            <label class="form-label fw-semibold mb-2 d-block">Cuenta Gasto</label>
            <input readonly type="text" class="form-control"
                [value]="ordenPagoDet.codDocumento != 'SD' ? tipoGastoSeleccionado.codCuentaSoles : ''" />
        </div>

    </div>

    <h6 class="h6-header">DATOS DEL DOCUMENTO</h6>
    <div class="row mt-2">
        <div class="row">
            <div class="col-md-2">
                <label class="form-label fw-semibold mb-2 d-block">Fecha Doc.</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" id="dp1" [(ngModel)]="modelIni"
                        ngbDatepicker #d1="ngbDatepicker" (change)="changeDate()" [navigation]="'select'"/>
                    <button class="btn boton-fecha btn-sm" (click)="d1.toggle()" type="button"><i class="fas fa-calendar"></i></button>
                </div>
            </div>
            <div class="col-md-2">
                <label class="form-label fw-semibold mb-2 d-block">Tipo de Documento</label>
                <select name="documento" id="documento" class="general-select form-select"
                    [(ngModel)]="ordenPagoDet.codDocumento" (change)="changeDocumento()">
                    <option class="option" value="SD">{{"SIN DOCUMENTO"}}</option>
                    <option class="option" *ngFor="let doc of documentos" [value]="doc.desCorta">
                        {{ doc.desDocumento }}
                    </option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label fw-semibold mb-2 d-block">Cuenta Documento</label>
                            <input readonly type="text" class="form-control"
                [value]="ordenPagoDet.codCuentaDocumento" />
            </div>
            <div class="col-md-2">
                <label class="form-label fw-semibold mb-2 d-block">Nro. Documento</label>
                <input class="general-input form-control" name="nrodoc" id="nrodoc" (change)="changeNumDocumento()"
                    [(ngModel)]="dataImagen.documentNumber" placeholder="XXXX-000000000000001" />
            </div>
            <div class="col-md-1">
                <label class="form-label fw-semibold mb-2 d-block">Moneda</label>
                <select (change)="onMonedaChange()" name="moneda" id="moneda" class="form-select general-select"
                    [(ngModel)]="ordenPagoDet.codMoneda">
                    <option *ngFor="let moneda of monedas" [value]="moneda.codMoneda">
                        {{ moneda.desMoneda }}
                    </option>
                </select>
            </div>
            <div class="col-md-1">
                <label class="form-label fw-semibold mb-2 d-block">
                    Subtotal {{dataImagen.currency}}
                </label>
                <input [readonly]="!!imageChangedEvent" type="text" name="importe" id="importe" class="general-input form-control text-end"
                    [(ngModel)]="subTotal" currencyMask
                    [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2, nullable: true }" />
            </div>
            <div class="col-md-1">
                <label class="form-label fw-semibold mb-2 d-block">
                    Impuestos {{dataImagen.currency}}
                </label>
                <input [readonly]="!!imageChangedEvent" type="text" name="importe" id="importe" class="general-input form-control text-end"
                    [(ngModel)]="dataImagen.igv" currencyMask
                    [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2, nullable: true }" />
            </div>
            <div class="col-md-1">
                <label class="form-label fw-semibold mb-2 d-block">
                    Importe {{dataImagen.currency}}
                </label>
                <input [readonly]="!!imageChangedEvent" type="text" name="importe" id="importe" class="general-input form-control text-end"
                    [(ngModel)]="dataImagen.amount" currencyMask
                    [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2, nullable: true }" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="form-label fw-semibold mb-2 d-block">Detalle</label>
                <textarea class="general-textarea form-control" rows="2" [(ngModel)]="itemsText"
                    (ngModelChange)="onDetalleChange($event)">
                </textarea>
            </div>
        </div>
        <div class="row">
            <div *ngIf="mensajeDetalle" class="col-md-12">
                <span class="mensaje-alerta">{{mensajeDetalle}}</span>
            </div>
        </div>
    </div>

    <div *ngIf="indMovilidad=='S'">

        <div class="bar-buttons-top d-flex justify-content-between align-items-end flex-wrap">
            <h6 class="h6-header">DETALLE DE TRASLADOS ASOCIADOS A LA PLANILLA</h6>
            <div class="d-flex gap-2">
                <button title="Nuevo Traslado" class="general-button btn-primary btn-sm" type="button"><i
                        class="fas fa-plus"></i> {{isDesktop ? 'Nuevo' : ''}}</button>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <th>Fecha</th>
                <th>Tipo Documento</th>
                <th>Nro Documento</th>
                <th>Razón Social</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Observaciones</th>
                <th>Importe </th>
                <th>Nro Ocupantes</th>
            </thead>
            <tbody>
                <tr *ngFor="let traslado of listaMovilidad">
                    <td class="text-center">{{traslado.fechaTraslado | date: 'dd-MM-yyyy'}}</td>
                    <td class="text-start">{{devolverDocumento(traslado.codDocumento ?? '')}}</td>
                    <td class="text-start">{{traslado.numDocumento}}</td>
                    <td class="text-start">{{traslado.codAuxiliarProveedor}}</td>
                    <td class="text-start">{{traslado.codOrigen}}</td>
                    <td class="text-start">{{traslado.codDestino}}</td>
                    <td class="text-start">{{traslado.observaciones}}</td>
                    <td class="text-end">{{traslado.impSoles | number: '1.2-2'}}</td>
                    <td class="text-center">
                        <button title="Ocupantes de Traslado" type="button" class="general-button btn-success btn-sm">
                            <span
                                style="font-weight: 600 !important; color: white !important">{{traslado.nroOcupantes}}</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
