:host {
  display: block;
  width: 100%;
  height: 100%;
}

/* Sidebar */
.sidebar {
  width: 100%;
  height: 100%;
  background-color: white;
  color: rgb(45, 45, 45);
  padding: 12px;
  overflow-y: auto;
  font-weight: 400;
}

/* Logo */
.sidebar img {
  display: block;
  max-width: 100%;
  margin-bottom: 16px;
  align-items: center;
}

/* Items */
.menu-item {
  cursor: pointer;
  user-select: none;
  font-family: var(--app-font-family);
  font-size: 2rem;
  font-weight: 600;
  color: color-mix(in srgb, var(--primary-color) 75%, black)
}

.menu-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 600;
  color: color-mix(in srgb, var(--primary-color) 55%, black)
}

.menu-header:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.arrow {
  margin-left: auto;
  transition: transform 0.2s ease;
}

.arrow.rotate {
  transform: rotate(90deg);
}

/* Submenu */
.submenu {
  padding-left: 20px;
}

.submenu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
}

.submenu-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}