.app-header {
  width: 100%;
  background-color: var(--primary-color) !important;
  color: white !important;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; // Esto empuja toggle a la izquierda y user-area a la derecha
  height: 60px;
  padding: 0 16px;
  width: 100%;
  background-color: var(--primary-color) !important;
  color: white !important;
}

.spacer {
  flex: 1; // empuja al user-area hacia la derecha
}

.header {
  background-color: var(--primary-color) !important;
}

.user-area {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #ffffff;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.arrow {
  font-size: 14px;
}

.dropdown {
  position: absolute;
  top: 52px;
  right: 0;
  background: #ffffff;
  color: #333;
  min-width: 220px;
  border-radius: 6px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 2000;
}

.row {
  font-size: 13px;
  margin-bottom: 6px;
}

.dropdown-btn {
  width: 100%;
  border: none;
  background: transparent;
  padding: 8px;
  cursor: pointer;
  text-align: left;
}

.dropdown-btn:hover {
  background: #f2f2f2;
}

.dropdown-btn.danger {
  color: #c62828;
}


.btn-toggle {
  background-color: var(--primary-color); /* Fondo igual al color primario */
  color: #fff; /* Color del icono blanco */
  border: none; /* Opcional, quita borde si lo hubiera */
  padding: 10px 12px; /* Ajusta tamaño del botón */
  border-radius: 4px; /* Opcional, bordes redondeados */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-toggle i {
  font-size: 1.5rem; /* Hace el icono un poco más grande */
}