<header class="app-header">
  <div class="nav-bar">

    <!-- Botón toggle -->
    <button *ngIf="muestraBotonToogle" class="btn-toggle" (click)="onToggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>

    <span *ngIf="isDesktop" class="mensaje-header me-4">TIPO DE CAMBIO: S/ {{tipoCambioVenta}}</span>
    <span *ngIf="!isDesktop" class="mensaje-header me-4">T.C.: S/ {{tipoCambioVenta}}</span>
    <span class="mensaje-header">{{isDesktop ? currentDateLarge : currentDateShort}}</span>
    <!-- Spacer -->
    <div class="spacer"></div>


    <div class="theme-area">
      <i class="fas fa-brush user-icon" (click)="showThemeDropdown = !showThemeDropdown"
        style="padding: 50px !important; cursor: pointer;"></i>
      <div class="theme-dropdown" *ngIf="showThemeDropdown" style="margin-top: 50px !important;">
        <div class="perfil-header">Tema</div>
        <div class="card theme-card">
          <div class="card-body py-2 px-3">

            <div class="radio-group">

              <label class="donut-radio">
                <input type="radio" name="theme" [value]="'AZUL'" [(ngModel)]="selectedTheme"
                  (ngModelChange)="changeTheme($event)" />
                <span class="control"></span>
                <span class="text">Azul</span>
              </label>

              <label class="donut-radio">
                <input type="radio" name="theme" [value]="'VERDE'" [(ngModel)]="selectedTheme"
                  (ngModelChange)="changeTheme($event)" />
                <span class="control"></span>
                <span class="text">Verde</span>
              </label>

              <label class="donut-radio">
                <input type="radio" name="theme" [value]="'ROJO'" [(ngModel)]="selectedTheme"
                  (ngModelChange)="changeTheme($event)" />
                <span class="control"></span>
                <span class="text">Rojo</span>
              </label>

              <label class="donut-radio">
                <input type="radio" name="theme" [value]="'NARANJA'" [(ngModel)]="selectedTheme"
                  (ngModelChange)="changeTheme($event)" />
                <span class="control"></span>
                <span class="text">Naranja</span>
              </label>

              <label class="donut-radio">
                <input type="radio" name="theme" [value]="'VIOLETA'" [(ngModel)]="selectedTheme"
                  (ngModelChange)="changeTheme($event)" />
                <span class="control"></span>
                <span class="text">Violeta</span>
              </label>

              <label class="donut-radio">
                <input type="radio" name="theme" [value]="'GRIS'" [(ngModel)]="selectedTheme"
                  (ngModelChange)="changeTheme($event)" />
                <span class="control"></span>
                <span class="text">Gris</span>
              </label>

            </div>
            <div class="d-flex gap-2 justify-content-end" style="margin-top: 20px !important;">
              <button title="Establecer" class="btn general-button btn-primary btn-sm" (click)="saveTheme()">
                <i class="fas fa-save"></i>
              </button>
              <button title="Cerrar" class="btn general-button btn-danger btn-sm" (click)="showThemeDropdown = !showThemeDropdown">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- User area -->
    <div class="user-area" (click)="toggleDropdown()">
      <i class="fas fa-user user-icon"></i>
      <span class="arrow">▾</span>

      <div class="dropdown" *ngIf="showDropdown" style="font-family: var(--app-font-family) !important;">

        <div class="perfil-header">Perfil</div>

        <div class="row">
          <span class="label">User Name:</span>
          <span class="value">{{dtoUser.userUsername}}</span>
        </div>

        <div class="row">
          <span class="label">Empresa:</span>
          <span class="value">AQUARIUS CONSULTING</span>
        </div>

        <div class="row">
          <span class="label">Usuario:</span>
          <span class="value">{{dtoUser.userLastName + ' ' + dtoUser.userMiddleName + ' ' + dtoUser.userName}}</span>
        </div>

        <div class="row">
          <span class="label">Email:</span>
          <span class="value">{{dtoUser.userEmail}}</span>
        </div>

        <div class="row">
          <span class="label">Perfil:</span>
          <span class="value">JEFE DE PROYECTO</span>
        </div>

        <div class="row">
          <span class="label">Área:</span>
          <span class="value">SISTEMAS Y TECNOLOGÍAS</span>
        </div>

        <hr />

        <button class="dropdown-btn" (click)="onChangePassword()"><i class="fas fa-lock"></i> Cambiar Contraseña</button>
        <hr />
        <button class="dropdown-btn danger" (click)="onLogout()">Cerrar sesión</button>
      </div>
    </div>

  </div>
</header>