<div class="loading-overlay" *ngIf="isLoading$ | async">
  <app-loading-dancing-squares [size]="22" [gap]="8"></app-loading-dancing-squares>
</div>
<div class="container-fluid mt-2">
  <div class="bar-buttons-top w-100">
    <div class="title-f6">Lista de Órdenes de Pago</div>
  </div>
  <div class="bar-buttons-top d-flex w-100">
    <div class="input-group justify-content-start w-50">
      <span class="input-group-text"><i class="fa fa-search me-2"></i></span>
      <input (input)="filtrarOrdenPago()" type="text" class="form-control" placeholder="Filtrar Órdenes..."
        [(ngModel)]="filtrarOrden" />
    </div>
    <button (click)="onBack()" class="general-button btn-secondary">
      <i class="fas fa-arrow-left"></i>
      Regresar
    </button>
  </div>
  <div class="table-container table-responsive">
    <table class="table global-table table-striped table-hover">
      <thead>
        <th class="text-center">Orden</th>
        <th *ngIf="isAdminUser" class="text-center">Auxiliar</th>
        <th class="text-center">Fecha de Orden</th>
        <th class="text-center">Tipo de Gasto</th>
        <th class="text-center">Moneda</th>
        <th class="text-center">Importe</th>
        <th class="text-center">Rendido</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Acciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let reg of pagedOrdenes">
          <td class="text-center">{{reg.numOrden}}</td>
          <td *ngIf="isAdminUser" class="text-start">{{reg.cdesAuxiliar}}</td>
          <td class="text-center">{{reg.fecOrden | date: 'yyyy-MM-dd'}}</td>
          <td class="text-start">{{reg.cdesTipoGasto}}</td>
          <td class="text-center">{{reg.cdesMoneda}}</td>
          <td class="text-end">{{reg.impOrdPago | number: '1.2-2'}}</td>
          <td class="text-end">{{(reg.codMoneda=='01' ? reg.impRendidoSoles ?? 0 : 0) + (reg.impRendidoDolares ?? 0) |
            number: '1.2-2'}}</td>

          <td class="text-center">
            <span class="status-circle" [attr.title]="getStatusTitle(reg.tipEstado ?? '')" [ngClass]="{
      'status-em': reg.tipEstado === 'EM',
      'status-pe': reg.tipEstado === 'PE',
      'status-lq': reg.tipEstado === 'LQ'
    }">{{reg.tipEstado}}
            </span>
          </td>
          <td class="text-center">
            <button (click)="getAsiento(reg)" title="Ver Asiento Contable" type="button"
              [disabled]="!isActionEnabled(reg.tipEstado!, 'asiento_contable')" class="general-button btn-warning btn-sm me-2"
              *appHasPermission="{ route: '/list-orders', action: 'permitView' }">
              <i class="fas fa-book-open"></i>
            </button>
            <button (click)="openEditRendirCuenta(reg)" type="button" title="Rendir cuenta" type="button"
              [disabled]="!isActionEnabled(reg.tipEstado!, 'rendir_cuenta')" class="general-button btn-primary btn-sm me-1"
              *appHasPermission="{ route: '/list-orders', action: 'permitCreate' }">
              <i class="fa fa-plus"></i>
            </button>
            <button (click)="viewOrdenesPagoDet(reg)" title="Ver Detalle" type="button"
              [disabled]="!isActionEnabled(reg.tipEstado!, 'detalle')" class="general-button btn-success btn-sm"
              *appHasPermission="{ route: '/list-orders', action: 'permitView' }">
              <i class="fa-solid fa-circle-info"></i>
            </button>
            <button (click)="onPlanillaMovilidad(reg)" title="Planilla de Movilidad" type="button"
              [disabled]="!isActionEnabled(reg.tipEstado!, 'planilla_movillidad')" class="general-button btn-dark btn-sm"
              *appHasPermission="{ route: '/list-orders', action: 'permitCreate' }">
              <i class="fa-solid fa-car"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="card-footer bg-white border-0 py-3 d-flex justify-content-between align-items-center">
      <span class="text-muted small" style="font-family: var(--app-font-family) !important;">
        Mostrando Página <strong>{{ currentPage + 1 }}</strong> de
        <strong>{{ totalPages }}</strong> (Total: {{ totalItems }})
      </span>

      <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm mb-0">
          <li class="page-item" [class.disabled]="currentPage === 0">
            <button class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo; Anterior</span>
            </button>
          </li>

          <li class="page-item disabled">
            <span class="page-link border-0 text-dark fw-bold">{{
              currentPage + 1
              }}</span>
          </li>

          <li class="page-item" [class.disabled]="currentPage >= totalPages - 1">
            <button class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">Siguente &raquo;</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDocumento" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Visor de Asiento</h5>
        <button type="button" class="btn-close" (click)="cerrarModalDoc()"></button>
      </div>

      <div class="modal-body p-2">

        <div *ngIf="detailsAsiento" class="contenedor-scroll">
          <table style="font-size: 0.8rem !important;" class="global-table table-hover table-striped">
            <tr>
              <td colspan="3"></td>
              <td style="background-color: gray !important; color: white !important; font-weight: 600 !important;"
                colspan="2" class="text-center">Debe</td>
              <td style="background-color: gray !important; color: white !important; font-weight: 600 !important;"
                colspan="2" class="text-center">Haber</td>
            </tr>
            <thead>
              <th class="text-center">Cuenta</th>
              <th class="text-center">Descripción</th>
              <th class="text-center">Auxiliar</th>
              <th class="text-center">Importe S/</th>
              <th class="text-center">Importe US$</th>
              <th class="text-center">Importe S/</th>
              <th class="text-center">Importe US$</th>
            </thead>
            <tbody>

              <tr *ngFor="let asiento of detailsAsiento">
                <td data-col="codCuenta" class="text-center">{{asiento.codCuenta}}</td>
                <td data-col="desCuenta" class="text-start">{{asiento.desCuenta}}</td>
                <td data-col="auxiliar" class="text-start">{{asiento.codAuxiliar}}</td>
                <td class="text-end">
                  {{ (asiento.indDebeHaber === 'D' ? asiento.impSoles : 0) | number: '1.2-2'}}
                </td>

                <td class="text-end">
                  {{ (asiento.indDebeHaber === 'D' ? asiento.impDolares : 0) | number: '1.2-2' }}
                </td>

                <td class="text-end">
                  {{ (asiento.indDebeHaber === 'H' ? asiento.impSoles : 0) | number: '1.2-2' }}
                </td>

                <td class="text-end">
                  {{ (asiento.indDebeHaber === 'H' ? asiento.impDolares : 0) | number: '1.2-2' }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3"></td>
                <td
                  style="background-color: var(--primary-color) !important; color: white !important; font-weight: 600 !important;"
                  class="text-end">{{getTotal('D', '01') | number: '1.2-2'}}</td>
                <td
                  style="background-color: var(--primary-color) !important; color: white !important; font-weight: 600 !important;"
                  class="text-end">{{getTotal('D', '02') | number: '1.2-2'}}</td>
                <td
                  style="background-color: var(--primary-color) !important; color: white !important; font-weight: 600 !important;"
                  class="text-end">{{getTotal('H', '01') | number: '1.2-2'}}</td>
                <td
                  style="background-color: var(--primary-color) !important; color: white !important; font-weight: 600 !important;"
                  class="text-end">{{getTotal('H', '02') | number: '1.2-2'}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="general-button btn-danger" (click)="cerrarModalDoc()">Cerrar</button>
      </div>
    </div>
  </div>
</div>